    <footer class="footer" role="contentinfo">

      <div class="row">
        <div class="text-center columns footer-menu mobile-footer-menu hide-for-large footer-mobile-menu">
          <ul>
            <li><a href="/product/">Product</a></li>
            <li><a href="/pricing/">Pricing</a></li>
            <li><a href="https://blog.tidalmigrations.com" target="_blank">Blog</a></li>
            <li><a href="https://tidal.zendesk.com" target="_blank">Support</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/contact/">Contact Us</a></li>
            <li><a href="/careers/">Careers</a></li>
            <li><a href="/legals/">Legals</a></li>
            <li><a data-open="modalNewsletter">Newsletter</a></li>
          </ul>
        </div>
      </div>

      <div class="row">

          <div class="columns large-2 show-for-large footer-menu medium-text-left small-text-center">
            <h2>Keep In Touch</h2>
            <ul>
              <li><a data-open="modalNewsletter">Newsletter</a></li>
              <li><a href="https://blog.tidalmigrations.com" target="_blank">Blog</a></li>
              <li><a href="/contact/">Contact Us</a></li>
            </ul>
          </div>
          <div class="columns large-3 show-for-large footer-menu medium-text-left small-text-center">
            <h2>&nbsp;</h2>
            <p>
              <strong>Tidal SW Inc.</strong><br />
              157 Adelaide St W, Suite 711<br />
              Toronto, ON, M5H 4E7<br />
              Canada<br />
            </p>
          </div>

        <div class="inner-footer columns large-6 large-text-right small-text-center">

          <div class="footer-logo">
						 <a href="{{ "/" | relative_url}}" class="logolink">
               <img alt="Tidal Software Logo" src="/assets/img/teal_cloud_square_transparent.png" width="70" />
               <span class="tidal-blue">tidal</span> <span class="tidal-grey">software</span>
             </a>
          </div>
          <div class="large-12 medium-12 columns">
            <div class="social-icons">
              <ul>
                <li><a target="_blank" href="{{ site.twitter }}"><i class="fa fa-twitter"></i></a></li>
                <li><a target="_blank" href="{{ site.facebook }}"><i class="fa fa-facebook"></i></a></li>
                <li><a target="_blank" href="{{ site.linkedin }}"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
            <p><span class="copyright">&copy;{{ site.copyright }}</span></p>
          </div>

        </div> <!-- end #inner-footer -->

      </div>


      <div class="reveal small fade-in fade-out" id="modalNewsletter" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
      	<button class="close-button" data-close aria-label="Close modal" type="button">
      		<span aria-hidden="true">&times;</span>
      	</button>


    <div class="_form_1"></div><script src="https://tidalmigrations.activehosted.com/f/embed.php?id=1" type="text/javascript" charset="utf-8"></script>
      </div>


    </footer> <!-- end .footer -->

  </div> <!-- end .off-canvas-wrapper -->
</div> <!-- end .off-canvas-content -->
