<header class="site-header" role="banner">

  <div class="wrapper">


    <nav class="site-nav">

      <div class="sticky-container">
      	<div class="top-bar" id="top-bar-menu">
      		<div class="row">
      			<div class="column small-9 medium-4 large-3">
						 <a href="{{ "/" | relative_url}}" class="logolink">
               <img alt="Tidal Software Logo" src="/assets/img/teal_cloud_square_transparent.png" width="70" />
               tidal <span class="tidal-grey">software</span>
             </a>
      			</div>

            <div class="column medium-8 large-7 text-center" id="menu-holder">
      				<ul id="menu-main-menu" class="vertical medium-horizontal menu dropdown" data-responsive-menu="accordion medium-dropdown" role="menubar" data-dropdown-menu="ftmoua-dropdown-menu">
                <li class="menu-item" role="menuitem"><a class="page-link" href="/product/">Product</a></li>
                <li class="menu-item" role="menuitem"><a class="page-link" href="/integrations/">Integrations</a></li>
                <li class="menu-item" role="menuitem"><a class="page-link" href="/pricing/">Pricing</a></li>
                <li class="menu-item" role="menuitem"><a class="page-link" href="https://blog.tidalmigrations.com" target="_blank">Blog</a></li>
                <li class="sub-menu-parent show-for-medium-up hide-for-small-only menu-item" role="menuitem">
                  <a class="page-link">Partners</a>
                    <ul class="menu sub-menu">
                      <li>
                        <a href="/partners/">Cloud Migrators</a>
                      </li>
                      <li>
                        <a href="/technology-partners/">Technology Partners</a>
                      </li>
                    </ul>
                </li>
                <li class="sub-menu-parent show-for-medium-up hide-for-small-only menu-item" role="menuitem">
                  <a class="page-link">About</a>
                    <ul class="menu sub-menu">
                      <li>
                        <a href="/about/">About Us</a>
                      </li>
                      <li>
                        <a href="/news/">News</a>
                      </li>
                      <li>
                        <a href="/careers/">Careers</a>
                      </li>
                      <li>
                        <a href="/contact/">Contact Us</a>
                      </li>
                    </ul>
                </li>
                <li class="menu-item hide-for-medium" role="menuitem"><a class="page-link" href="/partners/">Partners</a></li>
                <li class="menu-item hide-for-medium" role="menuitem"><a class="page-link" href="/technology-partners/">Technology Partners</a></li>
                <li class="menu-item hide-for-medium" role="menuitem"><a class="page-link" href="/careers/">Careers</a></li>
                <li class="menu-item hide-for-medium" role="menuitem"><a class="page-link" href="/news/">News</a></li>
                <li class="menu-item hide-for-medium" role="menuitem"><a data-open="modalNewsletter">Newsletter</a></li>
                <li class="menu-item hide-for-medium" role="menuitem"><a class="page-link" href="/about/">About Us</a></li>
                <li class="menu-item hide-for-medium" role="menuitem"><a class="page-link" href="/contact/">Contact Us</a></li>
                <li class="menu-item hide-for-medium" role="menuitem"><a class="page-link" href="/legals/">Legals</a></li>
              </ul>
            </div>

            <div class="column small-1 large-2 show-for-large text-right button-holder">
      				<a class="button contact-popup-trigger">Start Today</a>
      			</div>


      			<div class="column small-2 hide-for-medium text-right">
      				<a class="mobile-menu-toggler" data-toggle="menu-holder">
      					<svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" id="svg2" viewBox="0 0 18 18" height="18" width="18" version="1.1">
      					  <defs id="defs12"></defs>
      					  <path class="hamburger-part" id="path4" d="M 16,14 2,14 c -1.103,0 -2,0.897 -2,2 0,1.103 0.897,2 2,2 l 14,0 c 1.103,0 2,-0.897 2,-2 0,-1.103 -0.897,-2 -2,-2 z"></path>
      					  <path class="hamburger-part" id="path6" d="M 16,7 2,7 C 0.897,7 0,7.897 0,9 c 0,1.103 0.897,2 2,2 l 14,0 c 1.103,0 2,-0.897 2,-2 0,-1.103 -0.897,-2 -2,-2 z"></path>
      					  <path class="hamburger-part" id="path8" d="M 16,0 2,0 C 0.897,0 0,0.897 0,2 0,3.103 0.897,4 2,4 L 16,4 C 17.103,4 18,3.103 18,2 18,0.897 17.103,0 16,0 Z"></path>
      					</svg>
      				</a>
      			</div>
      		</div>
      	</div>
      </div>

    </nav>

  </div>

</header>
