/*=====CAREERS PAGE================================*/

/*=====Hero Image=====*/

.careers-hero {

  background-color: $color--accent;

  h2 {
		@include breakpoint(medium) {
      padding: 10% 0 5% 0;
		}
    padding: 20% 0 5% 0;
    font-weight: bold;
    font-size: 1.8rem;
    height: 250px;
  }

  p {
    color: $color--headlines;
    margin:0 15%;
  }

  .column {
    padding: 5% 15%;
  }
}

/*==========Intro Text==============*/

.careers-intro-text {
  padding: 5%;
  background: $color--background-light;
}

/*==========Careers Values==========*/

.careers-values {
  background: $primary--color;
  padding:5% 0;


  &__item {
    margin: 5% 0 5% 0;
  }

  h2 {
    text-align: center;
    color: #fff;
    margin: 0 0 5% 0;
  }

  i {
    color: white;
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  h3 {
    text-align: center;
    font-size:1.5rem;
    color: #fff;
  }

  p {
    text-align: center;
    color: #fff;
  }
}


/*====Jobs====*/

.careers-jobs {
  padding: 5%;
  background: $color--background-light;

  h2 {
    color: $color--headlines;
    text-align: center;
    margin-bottom: 2%;
  }

  &__item {
    box-shadow:0 4px 5px rgba(51,51,51,0.55);
    border-radius: $global-radius;
    padding: 5%;
    margin: 2% 0;
    transition: all 0.3s ease;
    background: $color--accent;

    &:hover {
        box-shadow:0 4px 15px rgba(51,51,51,0.55);
        border-radius: $global-radius;
        background: scale-color($color--accent, $lightness: 24%);
      }

    h3{
      color: $color--headlines;
      font-weight: bold;
    }

    p {
      color: $color--headlines;
    }
  }
}
