/************************************************

Stylesheet: Main Stylesheet

*************************************************/

/*********************
GENERAL STYLES
*********************/

/*********************
LINK STYLES
*********************/
a, a:visited {

	// Mobile tap color
	&:link {
		//Highlight links on iOS, Similar to :hover for mobile devices.
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {

	// Removing text decoration from all headline links
	a {
		text-decoration: none;
	}
}

h1, .h1 {

}

h2, .h2 {

}

h3, .h3 {

}

h4, .h4 {

}

h5, .h5 {

}

p, .p {
	font-size: 1rem;
}

/*********************
HEADER STYLES
*********************/
.header {
	ul.off-canvas-list li {
		list-style: none;
	}
}

.tidal-blue {
  color: $primary--color;
}
.tidal-grey {
  color: $secondary--color;
}
.tidal-yellow {
  color: $color--accent;
}

/*=======GENERAL CLASSES=============*/

.shadow {
  box-shadow:0 4px 6px rgba(51,51,51,0.55);
  border-radius: $global-radius;
}


/*==========404 PAGE===========*/
.n-inner-content {
  margin-top: 5%;
}

/*==========Button===========*/

.button {
	font-weight:500;
}

/*==========Contact CTA===========*/

.contact-cta {
	background-color: $primary--color;
	padding: 5% 0;

	h2, p {
		color:#fff;
	}
}

.typer-wrapper {
  height: 200px;
}

/*==========Animations==========*/

@keyframes slide {
0% {
	transform: translateY(-300px);
	 }
100% {
	transform: translateY(0px);
	opacity:100;
}
}

