/*=====HOME PAGE================================*/

/*=========HERO IMAGE=============*/

.hero-container {
	background-color: $primary--color;
	margin-top: rem-calc(67);
	padding: 4rem 0 3.6rem 0;

	h2, h3, p {
		color: #fff;
	}

	h2 { font-weight: bold; }

	h2 {
		margin-bottom: 1rem;
		font-size: 1.4rem;

		@include breakpoint(medium) {
			font-size: 2rem;
		}
	}
	h3 {
		margin-bottom: 1.8rem;
		margin-top: 1.8rem;
		font-size: 1.2rem;

		@include breakpoint(medium) {
			font-size: 1.3rem;
		}
	}

	.dimmed {opacity: 0.8}

	.graphic-legend {
		color: #fff;
		line-height: 1;
		display: block;
		margin-bottom: 1.6rem;

		@include breakpoint(medium) {
			margin-bottom: 0
		}
	}

	abbr {
		color: currentColor;
		border-bottom: 0 none;
		text-decoration: none;
	}

	.graphiccheckbox {
		// clip-path: polygon(0px 0px,0px 0px,0px 0px,0px 0px);
		visibility: hidden;
		position: absolute;
		top: 50%;
		left: 50%;
	}
	.column-block {position: relative}
	.graphicselect {
		display: block;
		position: relative;
		cursor: pointer;
		margin: 0 0 0.2rem;
		background-color: $primary--color;

		@include breakpoint(medium) {
			margin-bottom: 0.5rem;
		}

		.hoverlay {
			cursor: pointer;
			opacity: 0;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			transition: opacity $transition-speed ease;
		}
		img {cursor: pointer !important}
		&:hover .hoverlay {
			opacity: 1;
			cursor: default;
			box-shadow: 0 0 0.3rem rgba(0,0,0,0.3);
		}
	}
	.graphiccheckbox:checked,
	.graphiccheckbox.selected {
		+ .graphicselect:hover .hoverlay { box-shadow: none }
	}
	.graphiccheckbox:checked,
	.graphiccheckbox.selected {
		+ .graphicselect .hoverlay { opacity: 1; cursor: default !important; }
	}
	.orbit-slide { list-style-type: none; max-height: none !important;}
	.orbit-slide:not([data-slide]):not(:first-child) {display: none}
	.orbit-container { outline: none; margin: 0; height: auto !important;}
	.actions-holder { padding-top: 1.4rem; }
	.button.hollow {
		border-color: #fff;
		border-width: 2px;
		// text-transform: uppercase;
		text-transform: lowercase;
		font-size: 1.2em;
		color: #fff;
		padding: 0.5rem 1.2rem;
		margin-bottom: 1rem;
		transition: all $transition-speed ease;

		&:hover {
			background-color: #FFC933;
			border-color: #FFC933;
			color: #000;
		}
		&:active {
			position: relative;
			top: 1px;
		}
		&[disabled]:hover,
		&[disabled]:active {
			top: 0;
			border-color: #fff;
			border-width: 2px;
			color: #fff;
		}
	}
	input[type="email"] {
		border-radius: 0;
		box-shadow: none;
		border: 0 none;
		height: 2.2rem;
		padding-left: 2.4rem;
		background: #fff url('/assets/img/icon-envelope.svg') 0.4rem center no-repeat;
		background-size: auto 60%;
	}
	.progress {
		box-shadow: -0.2rem -0.2rem 0.2rem rgba(0,0,0,0.2) inset;
	}
}

/* ========Home Product==========*/

.home-product {
	padding: 4rem 0;
	background: #f2f2f2;

	&__img-container {
		height: 9.5rem;
	}

	h2 {
		font-size: 2rem;
		margin-bottom: 3rem;
		font-weight: 700;
		color: $color--headlines;
	}

	h3 {
		font-size: 1.3rem;
		color: $color--headlines;
	}

	h4 {
	 margin-bottom: 4rem;
	 font-size: 1.1rem;
	}

	@include breakpoint (large) {
		h4 {
			margin-bottom: 0;
		}
	}
}


/*=========Home-Features==========*/
.home-features {
	padding:5% 0;
	text-align: left;

	img {
		padding: 5% 0;
	}

	@include breakpoint (medium) {

	}

	h2 {
		font-weight: 700;
		font-size: 2rem;
		color: $color--headlines;
		margin-bottom: 4rem;
	}

 p {
		color: $color--primarytext;
    padding-bottom: 30px;
	}

	ul {
		list-style-type: none;
	}

  .features {
    text-align: center;
    @include breakpoint (large) {
      text-align: left;
    }

    .feature {
      color: $color--headlines;
      padding-bottom: 30px;
      display: inline-block;
      .symbol {
        display: inline-block;
        width: 4rem;
        padding-right: 10px;

				i {
		      position: relative;
					top: 7px;
					font-size: 2.5rem;
		    }

		    .fa-dollar {
		      margin-left: 5px;
		    }
      }

      .text {
        display: inline-block;
        font-size: 1.5rem;
      }
    }
  }
	p {
		@include breakpoint(large) {
			padding: 0px 0px 10px 0px;
		}
		font-size:1.2rem;
    padding: 0px 0px 10px 0;
	}

	@include breakpoint (large) {
		.button {
		margin-top: 7%;
		}
	}
}

/*=========Home-Grid==========*/

.home-grid {
	background-color: $secondary--color;
	padding: 5% 0;

	h2 {
 		font-weight: bold;
    padding-left: 10px;
    color: $color--overdarktext;
	}

  a {
    height: 175px;
    display: block;
    background-position: 50% 50%;
    background-size: 100%;
  }
  p {
    color: $color--overdarktext;
  }
}

/*============Contact CTA===========*/

.contact-cta {

	@include breakpoint(medium) {
		padding:7% 0 0 0;
		background-image: url(/assets/img/home-cta-left.svg), url(/assets/img/home-cta-right.svg);
		background-position: left bottom, right bottom;
		background-repeat: no-repeat;
		background-size: 30% auto;
}

	@include breakpoint(large) {
		background-size: 25% auto;
	}



	.cta-txt {

		padding-bottom: 3%;

		h2 {
			font-weight: bold;
			font-size: 3.5rem;
		}

		p {
			font-size: 2rem;
		}
	}




}
