/*=========Landing Pages Layout=======*/

.landing-page {

	&__container {
		padding: 4rem 0;
	}

	&__container:nth-child(1) > div:nth-child(2) {
		padding-top: 4rem;

		@include breakpoint (large) {
			padding-top: 0;
		}
	}

	&__img {
		height: 270px;
		margin-top: 4rem;

		@include breakpoint (large) {
			margin-top: 0;
		}
	}
}
