/*=========NAVIGATION=============*/

// Code for sticky nav:
.sticky-container {
	top: 0;
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 5;
}

.top-bar {
	// padding: rem-calc(8) 0 rem-calc(2);
	padding: 0;
	// outline: 1px dashed blue;
}

@keyframes menubar-slide-loggedin {
  0%   {
	top: -4rem;
  }
  100% {
	top: 2.05rem;
  }
}
@keyframes menubar-slide {
  0%   {
	top: -4rem;
  }
  100% {
	top: 0;
  }
}


#top-bar-menu {
	width:100%;
	background: white;
	box-shadow: 0 2px 15px rgba(51,51,51,0.35);

	&.is-stuck {
		position: fixed;
		border-bottom: 1px solid rgba(200,200,200,0.3);
		background-color: #fff;
		animation: menubar-slide 0.8s ease-out;
		top: 0;

		&::before { bottom:0 }
		.button {
			background-color: $color--button;
			border-color: $color--button;

			&:hover {
				background-color: scale-color($color--button, $lightness: -15%);
			}
		}
	}

	.button-holder { padding-top: 0.65rem; }

	.logo {
    	width: 8rem;
    	vertical-align: top;
			height:4rem;

		@include breakpoint(medium) {
			width: 9rem;
		}
	}
	.logolink { display: block; float: left; color: $primary--color;  }
	.float-left { max-width: 30% }

	.menu {
		&[role="menubar"] {
			margin-top: 0.4rem;
		}

		> li {
			padding: 0.6rem 0.8rem;

			@include breakpoint(medium) {
				display: inline-block;

				&:last-child {padding-right: 0}
			}

/* Edit the underline */
			> a:not(.button) {
				padding: 0.25rem 0;
				font-family: $header-font-family;
				font-size: 1rem;
				color: #fff;
				transition: all 0.2s ease;
				position: relative;

				@include breakpoint(medium) {
					&::before {
						content: '';
						height: 2px;
						position: absolute;
						bottom: 0;
						left: 0;
						background-color: $primary--color;
						width: 0;
						transition: width 0.2s ease;
					}
				}

				&::after {
					border-color: #999 transparent transparent;
					border-color: rgba(0,0,0,0.35) transparent transparent;
					transition: all 0.2s linear;
				}
			}
			@include breakpoint(medium) {
				&:hover > a:not(.button) {
					border-bottom-color: #fff;

					&::before { width: 100% }
					&::after { transform: rotateX(180deg); }
				}
			}
			&.current_page_item {
				> a:not(.button) {
					box-shadow: 0 0 3px rgba(255,255,255,0.6) inset, 0 0 3px rgba(255,255,255,0.6);

					@include breakpoint(medium) {
						box-shadow: none;
						transform: scale(4);
					}
				}
				&:hover > a:not(.button)::before {display: none}
			}
			&.is-dropdown-submenu-parent {
				> a { padding-right: 1.5rem; }

				&:hover > a::before { width: calc(100% - 1.45rem); }
			}
		}
		&.is-dropdown-submenu.vertical {
			box-shadow: 0 0.2rem 0.5rem rgba(100,100,100,0.3);
			> li {
				padding: 0;

				> a {
					transition: background-color 0.2s linear;
					padding: 0.9rem 0.8rem;
					color: $primary--color;
					background-color: #fff;
					background-color: rgba(255,255,255,0.98);
					font-size: 90%;
					text-align: center;

					&::before { display: none }
					&:hover {
						&::before {display: none}
						color: $secondary--color;
						background-color: $color--background-light;

					}
				}
			}
		}
	}

	/*Edit mobile menu item colors*/
	&.is-stuck .menu > li > a {
		color: #fff;

		@include breakpoint(medium) {
			color: $primary--color;

			&::before { color: $primary--color; }
		}
	}
	[data-toggle] {
		display: inline-block;
		padding: 0.1rem 0.2rem;
		margin-top: 1.9rem;

		@include breakpoint(medium) {
			margin-top: 0.4rem;
		}

		img { height: 1.5rem; }
	}
}

.menu .active a {
	border-bottom-color: $secondary--color;
	background-color:rgba(33, 153, 232, 0.0);
}

#top-bar-menu.is-anchored .menu > li > a {
  color: #fff
}
#top-bar-menu.is-anchored .menu > li > a:hover::before {
  background-color: #fff
}

/*logo svg setting*/
#top-bar-menu {
	.st0, .a, .hamburger-part {
		fill: $secondary--color;
	}

	&:not(.is-stuck) {
		.st0, .a, .hamburger-part {
			fill:$secondary--color;
		}
	}
	&.is-stuck {
		.st0, .a, .hamburger-part {
			fill: $secondary--color;
		}
	}
}

// Responsive menu
#menu-holder {
	@include breakpoint(small only) {
		position: absolute;
		top: 3.6rem;
		width: 100%;
		background-color: scale-color($primary--color, $lightness: 14%);
		box-shadow:0 4px 6px rgba(51,51,51,0.55);
		max-height: 0;
		transition: all 0.1s linear;
		overflow: hidden;

		&.active {
			max-height: 100vh;
			transition: all 0.6s ease;
		}

		.is-accordion-submenu > li {
			display: block;
		}
	}
}

.page-link {

	@include breakpoint(medium){
		color: $secondary--color !important;
		font-size:0.9rem !important;
	}

	@include breakpoint(large){
		color: $secondary--color !important;
		font-size:1rem !important;
	}
}

	.menu-item  {

	@include breakpoint(medium){
		margin-top:1% !important;
	}
}


// Dropdown menu

body ul li.submenu {
        display:block;
        visibility: hidden;
        opacity: 0;
     /* For Safari 3.1 to 6.0 */
    -webkit-transition-property: width;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: 0.2s;
    /* Standard syntax */
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

body ul li.submenu:hover {
    visibility: visible;
    opacity: 1;
}

body .sub-menu {
	background-color: white;
	text-align: left;
	padding: 5%;
	margin:2%;
	border-radius: $global-radius;
	opacity: 0 ;
	position: absolute;
	top: 100%;
	left: 0;
	transform: translateY(-2em);
	z-index: -1;
	transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s !important;

	a, li, ul {
		margin:0;
		text-align: left;
	}

	a {
		padding-top: 1%;
		color: $secondary--color !important;
		font-size: 18px;
		font-family: $body-font-family;

		&:hover {
			color:$primary--color !important;
		}
	}

	}

body .sub-menu-parent {
	position: relative !important;
}

body .sub-menu-parent:hover .sub-menu {
  opacity: 1 !important;
  z-index: 1 !important;
  transform: translateY(0%) !important;
  transition-delay: 0s, 0s, 0.3s !important;
}
