/*=====NEWS=======*/

/* Index */

.news-index {
	padding-top: 2rem;

	.post-index {
		margin-top: 1rem;
		padding-right: 4rem;
		list-style: none;
	}

	.post-item {
		padding: 1.5rem 0;

		h2 {
			font-size: 2rem;
			font-weight: 500;
		}

		a {
			color: $color--darkgray;
		}

		button.posts-readme-button {
			color: $color--blue-font;
			font-style: italic;
			transition: color .3s ease;
			position: relative;
			margin-top: 2rem;

			&:hover {
				color: scale-color($color--accent, $lightness: -25%);
			}

			&:after {
				content:"";
			 	position: absolute;
				left: 5rem;
				top: -.3rem;
				background-image: url(/assets/img/news-readme-arrow.svg);
				background-size: cover;
				background-repeat: no-repeat;
				width: 1.3rem;
				height: 1.3rem;
				display: inline-block;
			}
		}
	}
}


/* News Posts */

.post {
	padding-top: 4rem;

	.page-header {
	  padding: 10% 0 10% 0;

	  @include breakpoint(large){
	  padding: 5% 0 5% 0;
	  }
	}

	&__main {
		padding: 4rem 0;

		hr {
			border: 1px solid $color--accent;
		}

		h2 {
			margin: 2rem 0 1rem;
			font-weight: bold;
			text-transform: uppercase;
		}

		.social-row {
				border-top: 1px solid $color--accent;
				margin-top: 2rem;
				padding-top: 2rem;

				&__label {
					display: inline;
				}

				&__list {
					display: inline;
				}

				h3 {
					display: inline;
				}

				a {
					margin-left: .5rem;
					display: inline;

				i {
					font-size: 2rem;
					color: $primary--color;
					transition: color .3s ease;

					&:hover {
						color: scale-color($color--accent, $lightness: -20%);
					}
				}
			}
		}

	}
}
