<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <div class="column small-8 medium-6 medium-centered">
      <a href="{{ "/" | relative_url}}" class="logolink">
        <img alt="Tidal Software Logo"
        src="/assets/img/teal_cloud_square_transparent.png" width="100" />
        <span class="tidal-blue">tidal</span> <span class="tidal-grey">software</span>
      </a>
    {{ content }}
    </div>
    {% include footer.html %}
    {% include contact-popup.html %}
    {% include scripts.html %}

  </body>

</html>

